.image-container img {
  box-shadow: 0 4px 8px 0 #BDBDBD, 0 6px 20px 0 #BDBDBD;
  opacity: 0;
  transform: translateY(100px);
  @include transition(transform .5s ease, opacity .5s ease);

  &.show {
    opacity: 1;
    transform: translateY(0px);
  }
}
