body {
  background-color: #F5F5F5;
  color: black;
  @include transition(background-color 1s ease);

  &.loaded {
    background-color: black;
  }
}

header {
  opacity: 0;
  @include transition(opacity 1.5s ease);

  &.show {
    opacity: 1;
  }
}

nav {
  color: black;
  cursor: pointer;

  :hover {
    text-decoration: underline;
  }

  .nav-item {
    opacity: 0;
    transform: translateX(100px);
    @include transition(transform .5s ease, opacity .5s ease);

    &.active {
      text-decoration: underline;
    }
    &.show {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.content {
  opacity: 0;
  @include transition(opacity .5s ease);

  &.show {
    opacity: 1;
  }
}
